.trackrSelect {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 2px;
}

.trackrSelect:hover {
  opacity: 0.90;
}

.trackrSelect:active {
  opacity: 0.0;
}
