.listContainerParent {
  width: 100%;
  height: 64vh;
  overflow: hidden;
  position: relative;
}

.listContainerChild {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  overflow-y: scroll;
  padding-bottom: 42px;
}

.listItemContainer {
  color: rgb(255, 255, 255);
  display: flex;
  margin-bottom: 12px;
  padding: 4px 0;
  background-image: linear-gradient(135deg, transparent, #759281);
}
