.listContainerParent {
  width: 100%;
  height: 64vh;
  overflow: hidden;
  position: relative;
}

.listContainerChild {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  overflow-y: scroll;
  padding-bottom: 42px;
}

.listItemContainer {
  color: rgb(255, 255, 255);
  display: flex;
  margin-bottom: 12px;
  background-image: linear-gradient(135deg, transparent, #759281);
}

.ellipsisButton {
  cursor: pointer;
  height: 100%;
  border: 0;
  outline: none;
  padding: 0 1px;
  font-size: 20px;
}

.ellipsisButton:active {
  opacity: 0.80;
}

.container:hover {
  opacity: 0.90;
}

