/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  overflow-y: hidden;
}

h1 {
  font-size: 32px;
}
