/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  height: 100vh;
  background: rgb(32, 91, 92);
  background: linear-gradient(
    137deg,
    rgba(32, 91, 92, 1) 0%,
    rgba(133, 124, 103, 1) 100%
  );
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  overflow-y: hidden;
}

h1 {
  font-size: 32px;
  margin: 12px 0 8px;
  color: white;
}

input[type="time" i] {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
